[phases.setup]
nixPkgs = ["python311", "playwright-driver"]

[phases.install]
cmds = ["python -m venv /opt/venv && . /opt/venv/bin/activate && pip install -r requirements.txt", "playwright install chromium"]

[start]
cmd = ". /opt/venv/bin/activate && streamlit run app.py --server.port= --server.address=0.0.0.0"
